.main-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.create-post-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.posts-section {
  padding-top: 20px;
  display: flex;
  
}

.post-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #97a0f4;
  margin-right: 20px;
}
.button {
  background-color: rgb(66, 104, 240);
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 4px;
}